/* src/views/CarePartners.css */
.care-content-wrapper {
  --accent-bg: #F1F7F8;
  --expanded-bg: #6ECEB233;
  --icon-box-bg: #6ECEB240;
  --icon-box-border: 1px solid #6ECEB273;

  flex: 1;
  overflow-y: auto;
  color: var(--text-color);
}

.care-header {
  padding: 48px 48px 38px;
  background-color: var(--accent-bg);

  h1 {
    font-size: 25px;
    font-weight: bold;
  }
}

.care-accordion-container {
  display: flex;
  flex-direction: column;
}

.care-accordion-item {
  background-color: white;
  transition: background-color 0.3s ease;

  &:nth-child(even)[data-expanded="false"] {
    background-color: var(--accent-bg);
  }

  &[data-expanded="true"] {
    background-color: var(--expanded-bg);

    .care-accordion-header-row {
      &::after {
        content: '';
        height: 1px;
        position: absolute;
        bottom: 20px;
        left: 112px;
        right: 38px;
        background-color: #01514B57;
      }

      h3 {
        font-weight: bold;
      }
    }

    .care-accordion-icon-box {
      background-color: var(--merck-teal);
      color: white;
    }
  }
}

.care-accordion-header-row {
  width: 100%;
  padding: 20px 48px;
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  border: none;
  text-align: left;

  h3 {
    flex: 1;
    font-size: 17px;
    font-weight: 500;
  }
}

.care-accordion-icon-box {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--icon-box-border);
  border-radius: 4px;
  background-color: var(--icon-box-bg);
  color: var(--merck-teal);

  svg {
    width: 24px;
    height: 24px;
  }
}

.care-accordion-body-content {
  padding: 12px 90px 94px 112px;
}