/* src/Views/Faqs.css */
.faqs-content-wrapper {
  --sidebar-bg: #D1E4DE80;
  --row-bg: #F1F7F8;
  --row-border: #DFE6EC;
  --expanded-bg: #6ECEB233;

  flex: 1;
  display: flex;
  overflow: hidden;
  color: var(--text-color);
  background-color: white;
}

.faqs-sidebar {
  width: 28%;
  background-color: var(--sidebar-bg);
  padding: 64px 36px;

  h1 {
    font-size: 33px;
    font-weight: normal;
    line-height: 41px;
  }
}

.faq-accordion-container {
  width: 72%;
  padding: 60px 60px 60px 112px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.faq-accordion-item {
  background-color: var(--row-bg);
  border: 1px solid var(--row-border);
  border-radius: 5px;

  &[data-expanded="true"] {
    background-color: var(--expanded-bg);

    .faq-accordion-header-row {
      border-bottom: 1px solid #01514B40;

      h3 {
        font-weight: bold;
      }
    }
  }
}

.faq-accordion-header-row {
  width: 100%;
  padding: 12px 20px 12px 10px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;

  h3 {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
  }
}

.faq-accordion-icon-box {
  width: 44px;
  height: 44px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6ECEB273;
  border-radius: 4px;
  background-color: #6ECEB240;
  color: var(--merck-teal);

  svg {
    width: 24px;
    height: 24px;
  }
}

.faq-accordion-body-content {
  padding: 16px 18px;
  font-size: 16px;
}

@media (orientation: portrait) {
  .faqs-sidebar {
    width: 30%;
  }

  .faq-accordion-container {
    width: 70%;
    padding: 60px;
  }
}