/* src/views/Videos.css */
.videos-screen {
  --background-color: #EBF3F0;
}

.videos-content-wrapper {
  padding: 70px 36px 32px;
  background-color: var(--background-color);
}

.videos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.video-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  text-align: left;
}

.video-thumbnail-container {
  position: relative;
}

.video-thumbnail-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.video-play-overlay {
  width: 132px;
  height: 132px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 26, 26, 0.70);
  border-radius: 50%;
  color: white;

  svg {
    width: 64px;
    height: 64px;
    margin-left: 6px;
  }
}

.video-info {
  padding: 45px 26px 26px;

  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #1A1A1A;
  }

  p {
    margin-block-start: 12px;
    color: #AAAAAA;
  }
}

.watch-now-btn {
  margin-block-start: 38px;
  padding: 16px;
  background-color: var(--merck-light-teal);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #1A1A1A;
}

.videos-minimal-footer {
  padding: 32px 36px 48px;
  background-color: var(--background-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  font-size: 12px;
  text-align: right;
  color: #9C9C9C;
}

.video-modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 9999;
}

.video-close-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A2A2A;
  border: none;
  border-radius: 50%;
  color: white;
  z-index: 10000;

  svg {
    width: 32px;
    height: 32px;
  }
}

.fullscreen-video-player {
  width: 100vw;
  height: 100dvh;
  object-fit: contain;
  outline: none;
}