.dashboard-container {
  padding: 30px 70px 94px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  flex: 1;
  background-color: var(--merck-teal);
  color: white;
}

/* Header */
.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 46px;
    font-weight: normal;
  }

  p {
    color: var(--merck-light-teal);
  }
}

/* Bento Grid */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 36px;
  flex: 1;
}

/* General Card Styles */
.card {
  --padding: 25px;
  --background-color: white;
  --text-color: #1A1A1A;

  padding: var(--padding);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border: none;
  text-align: left;
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.98);
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
  }
}

.arrow-icon {
  --background-color: white;
  --size: 64px;
  --icon-size: 22px;
  --icon-color: black;

  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  background: var(--background-color);
  border-radius: 50%;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--icon-color);
  }
}

.card-quiz {
  grid-column: span 10;
  background: url('../assets/images/clinical-trials-quiz-bg.jpg') center/cover no-repeat;
  color: white;
}

.card-care {
  grid-column: span 7;
  background: var(--background-color) url('../assets/images/care-partners-tips-bg.png') var(--padding) var(--padding) / 134px 124px no-repeat;

  .arrow-icon {
    --background-color: #6ECEB280;
    --icon-color: black;
  }
}

.card-timeline {
  --background-color: #F5F5F54D;

  grid-column: span 7;
  background: var(--background-color) url('../assets/images/interactive-timeline-bg.png') var(--padding) var(--padding) / 134px 124px no-repeat;
  color: white;
}

.card-faqs {
  --background-color: #D1E4DE;

  grid-column: span 8;
  background: var(--background-color) url('../assets/images/faqs-bg.png') var(--padding) var(--padding) / 134px 124px no-repeat;

  .arrow-icon {
    --background-color: var(--merck-teal);
    --icon-color: white;
  }
}

.card-videos {
  --background-color: var(--merck-blue);

  grid-column: span 16;
  background: var(--background-color) url('../assets/images/videos-bg.png') calc(100% - var(--padding)) var(--padding) / auto calc(100% - 2 * var(--padding)) no-repeat;
  color: white;

  .arrow-icon {
    right: initial;
    left: var(--padding);
  }
}

@media (orientation: portrait) {

  .card-quiz,
  .card-care,
  .card-timeline,
  .card-faqs {
    grid-column: span 12;
  }

  .card-videos {
    grid-column: span 24;
  }
}