@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Invention';
  src: url('./assets/fonts/Invention-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --merck-teal: #00857C;
  --merck-light-teal: #6ECEB2;
  --merck-blue: #0C2340;
  --merck-pastel-blue: #69B8F7;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

/* Main */
html,
body {
  font-family: 'Invention', Arial, sans-serif;
  line-height: 1.5;
}

.screen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Buttons */
.btn {
  padding: 22px 58px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  transition: transform 0.2s ease;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background-color: var(--merck-teal);
  color: white;
}

.btn-secondary {
  background-color: white;
  color: #333;
}